body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;

}

header{
    padding: 10px;
    grid-area: encabezado;
    background:rgb(66, 66, 232) ;
}
nav {
    padding: 10px;
    grid-area: menu;
    background:rgb(216, 216, 216);
    color: white;
}


main {
    padding: 10px;
    grid-area: seccion-principal;

}

aside{
    padding: 10px;
    grid-area: seccion-mobile;
}

footer {
    padding: 10px;
    grid-area: pie-de-pagina;
    background: rgb(19, 5, 82);
    color: white;
}


.flex_header{
    display: flex;

}

.icono{
    display: flex;
    gap: 5px;
    color: white;

}

.barra{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 5px;
}

.barra-texto{
    display: flex;
    color: white;

}

.orden{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: rgb(216, 216, 216);

}

.flex_main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.flex_aside{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
gap: 25px;

}

.img_discos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: px solid black;
    
}

.agregados{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton{background:rgb(66, 66, 232) ;
    color:white;
    border:rgb(66, 66, 232) ;
        padding: 10px;}

.pagina{
    align-items: center;
    align-content: center;
    justify-content: center;
}

  .pagination {
    display: inline-block;
    padding: 10px;
    
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: rgb(66, 66, 232);
    color: white;
    border: 1px solid rgb(66, 66, 232);
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .flex-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    grid-template-areas:
    "encabezado"
    "menu"
    "seccion-mobile"
    "pie-de-pagina";
 
}

/* vista Mobile oculta el main*/
  @media (max-width: 576px) {
    div {
        display: grid;
        border: 1px solid black;
        grid-template-rows: 1fr 1fr 7fr 1fr;
        grid-template-areas:
        "encabezado"
        "menu"
        "seccion-mobile"
        "pie-de-pagina";
     
    }
    main{
        display: none;
    }
    .barra-texto{display: none;}
}

/* vista PC*/
  @media (min-width: 576px) {
    div {
        grid-template-areas:
            "menu menu"
            "encabezado seccion-principal"
            "pie-de-pagina seccion-principal";
        grid-template-columns: 2fr 9fr;
        grid-template-rows: 1fr 8fr 1fr;
}
aside {display: none;}
.barra{display: none;}
.flex_header{display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;}
}








